body {
background: repeating-linear-gradient(
  45deg,
  #292929,
  #292929 39px,
  #FF7F50 2px,
  #FFD700 40px
);
}
div {
	background-color: rgb(41,41,41);
	max-width: 500px;
	max-height: 500px;
	padding: 25px;
	border: 25px rgb(41,41,41);
	margin: auto;
	color: rgb(255,215,0);
	font-family: Impact;
	font-weight: bold;
	font-size: 40px;
	text-align: center;
}

#image{
	width: auto;
	height: 400px;
}

#title{
	font-size:40px;
}

#buttonl{
	display: inline
}

#buttonm{
	display: inline
}

#buttonr{
	display: inline
}

#sup {
	font-size: 20px;
	font-style: italic;
}