/** 
 *  This CSS provides all the style settings for
 *  our JavaFX controls.
 *
 *  @author McKilla Gorilla & ____Raymond Lam_____
 */

.slide_show_edit_vbox {
    -fx-background-radius: 5.0;
    -fx-background-color: rgb(41,41,41);//rgb(30, 144, 255);
    -fx-border-color: rgb(41, 41, 41);
    -fx-text-fill: rgb(255,215,0);
    -fx-font-family: "Impact";
}

.slide_edit_view {
    -fx-background-radius: 10.0;
    -fx-background-color: rgb(41,41,41);//aliceblue;
    -fx-border-color: rgb(41, 41, 41);
    -fx-border-thickness: 10px;
    -fx-spacing: 60px;
    -fx-text-fill: rgb(255,215,0);
    -fx-font-family: "Impact";
}

.vertical_toolbar_button {
    -fx-background-color: rgb(255,215,0);//rgb(230, 250, 250);
    -fx-border-color: rgb(41,41,41);
    -fx-padding: 10px 10px 10px 10px;
    -fx-spacing: 50px;
}

.horizontal_toolbar_button {
    -fx-background-color: rgb(255,215,0);
    -fx-border-color: rgb(41,41,41);
    -fx-padding-left: 10px;
    -fx-padding-right: 20px;
}

.root {
    -fx-font-family: "Impact";
    -fx-text-fill: rgb(255,215,0);
    -fx-background-color: rgb(41,41,41);
    -fx-fill: true;
    -fx-background-image: url("background.jpg");
    -fx-background-position: center center;
    //-fx-background-repeat: round;
}

.root2 {
  
    -fx-arc-height: 300px;
   -fx-font-family: "Impact";
    -fx-text-fill: rgb(255,215,0);
    -fx-background-color: rgb(41,41,41);
}

.workspace {
    -fx-font-family: "Impact";
    -fx-text-fill: rgb(255,215,0);
    -fx-background-color:rgb(41,41,41);
}

.label {
    -fx-font-family: "Impact";
    -fx-text-fill: rgb(255,215,0);
}

.selected_slide {
    -fx-border-color: rgb(255,215,0);
    -fx-border-width: 5px;
}

.deselected_slide {
    -fx-border-color: rgb(41,41,41);
    -fx-border-width: 0px;
}